# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# 数据库
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# 日志
*.log

# 环境变量
.env
*.env

# 前端
node_modules/
/dist/
/coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 系统文件
.DS_Store
Thumbs.db